PyQt6==6.9.1
PyQt6_sip==13.8.0
numpy==1.26.4
pandas==2.3.0
matplotlib==3.8.4
pyqtgraph>=0.13.1,<0.14
scipy==1.15.3
PyYAML==6.0.2
h5py==3.12.1
packaging==25.0
python_markdown_math==0.9
traitlets==5.14.3
