PyQt6==6.10.0
PyQt6_sip==13.10.2
numpy==2.2.6
pandas==2.3.3
matplotlib==3.10.7
pyqtgraph>=0.13.1,<0.15
scipy==1.15.3
PyYAML==6.0.3
h5py==3.15.1
packaging==25.0
python_markdown_math==0.9
traitlets==5.14.3
